.Cart {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  background-color: rgb(255, 140, 0);

  .cartitem {
    width: 30vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    background-color: rgb(221, 76, 23);
    border-radius: 2rem;

    .header {
      width: 50%;
      height: 3rem;
      padding: 0.4rem;
      background-color: rgb(221, 76, 23);
    }

    .price {
      width: 4vw;
      height: 2rem;
      padding: 0.4rem;
    }

    .btn1 {
      padding: 0.3rem;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 0.5rem;
        width: 2rem;
        font-size: 1.5rem;
        background-color: rgb(225, 139, 107);

        &:hover {
          border: 4px solid black;
        }
      }
    }

    .amount {
      padding: 0.5rem 1.5rem;
      width: 4vw;
      height: 3rem;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: rgb(242, 183, 111);
    }

    .btn2 {
      padding: 0.3rem;

      button {
        background-color: rgb(225, 139, 107);
        cursor: pointer;
        // background-color: darkorange;
        border-radius: 0.5rem;
        width: 2rem;
        font-size: 1.5rem;

        &:hover {
          border: 4px solid black;
        }
      }
    }
  }

  .totalAmount {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0.2rem;
    margin-top: 30rem;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 37rem;
    width: 10rem;
    height: 3rem;
    background-color: rgb(221, 76, 23);
  }

  .orderBtn {
    cursor: pointer;
    position: absolute;
    width: 8rem;
    height: 4rem;
    background-color: darkorange;
    margin-left: 50rem;
    margin-top: 30rem;
    padding: 0.1rem 1rem;
    border: 0.2rem solid black;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;

    .link {
      font-size: 2.5rem;
      text-decoration: none;
      font-weight: 500;
      color: black;
    }

    &:hover {
      border: 0.3rem solid black;
      border-radius: 0;
    }
  }
}
