.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 140, 0);

  .logo {
    border-radius: 2rem;
    padding: 1rem;
    margin-left: 0.7rem;
    background-color: white;
    width: 8rem;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;

    &:hover {
      border-radius: 0;
    }

    .link {
      text-decoration: none;
      color: black;
      font-size: xx-large;
      font-weight: 500;
    }
  }

  .cartspan {
    margin-left: 75rem;
  }

  .cartlogo {
    text-decoration: none;
    padding: 0.6rem;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    background-color: darkorange;

    .icon-button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      color: #333333;
      background: rgb(249, 182, 100);
      border: none;
      outline: none;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
        background-color: rgb(233, 148, 44);
      }
    }

    .icon-button:active {
      background: #cccccc;
    }

    .icon-button__badge {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 25px;
      height: 25px;
      background: rgb(61, 60, 60);
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  .shake {
    animation: shake 1s ease 0s 1 normal forwards;

    @keyframes shake {
      0%,
      100% {
        transform: translateX(0);
      }

      10%,
      30%,
      50%,
      70% {
        transform: translateX(-10px);
      }

      20%,
      40%,
      60% {
        transform: translateX(10px);
      }

      80% {
        transform: translateX(8px);
      }

      90% {
        transform: translateX(-8px);
      }
    }
  }
}
