.footer {
  width: 100vw;
  height: 20vh;
  display: flex;
  //   background-color: #32529c;

  .copyright {
    width: 50vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(254, 144, 10);

    span {
      font-weight: 300;
    }
  }

  .email {
    width: 50vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 166, 79);

    h4 {
      margin: 1rem;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: 500;

      &:hover {
        font-weight: 700;
        font-size: 1rem;
      }
    }
  }

  .social {
    width: 50vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;

    a {
      color: #000;
      margin-right: 10px;
      position: relative;
      display: inline-block;
      font-size: 50px;

      .inner {
        background: #fcfcfc;
        mix-blend-mode: screen;
        display: block;
        width: 43.75px;
      }

      .bg {
        width: calc(100% - 1px);
        background: #000;
        text-align: center;
        display: block;
        height: 50px;

        &::before {
          content: "";
          background: linear-gradient(
            45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%
          );
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 0.3s ease-in-out;
        }
      }

      &:hover .bg::before {
        opacity: 1;
      }
    }
  }
}
