.review-carousel {
  position: relative;
  overflow: hidden;
  padding: 2rem;
}

.review-container {
  padding: 0 10px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.pre-btn,
.next-btn {
  color: var(--color-orange);
  font-size: 8rem;
}

/* for small to medium mobiles */
@media screen and (max-width: 361px) and (min-width: 320px) {
.pre-btn, .next-btn{
  font-size: 15rem;
}
}

@media screen and (max-width: 400px) and (min-width: 362px) {
}

@media screen and (max-width: 440px) and (min-width: 401px) {
}

/* for medium to tablets */
@media screen and (max-width: 730px) and (min-width: 641px) {
}

@media screen and (max-width: 821px) and (min-width: 731px) {
}

/* for tablets to Laptop screens */
@media screen and (max-width: 1024px) and (min-width: 769px) {
}

/* for laptop to desktop or bigger screens */
@media screen and (max-width: 1280px) and (min-width: 1025px) {
}
